.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper {
    width: 70vw;
    margin: 10px;
    position: relative;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.status-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.seller-info {
    font-weight: bold; /* ทำให้ข้อความเป็นตัวหนา */
    font-size: 18px; /* ขนาดตัวอักษรที่พอเหมาะ */
    color: #000000; /* สีดำสำหรับข้อความ */
    text-decoration: none; /* ไม่มีการขีดเส้นใต้ */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์ให้เหมือนลิงก์ */
    transition: all 0.3s ease; /* การเปลี่ยนแปลงอย่างนุ่มนวล */
}

.list-group {
    margin-top: 10px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-info {
    flex: 1;
}

.product-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.total-price {
    text-align: right;
    margin-top: 1rem;
}

.button-container {
    text-align: right;
    margin-top: 1rem;
}

button.primary {
    background-color: #007bff;
}

button.secondary {
    background-color: #6c757d;
}

